{% extends 'layout.twig' %}

{% block body %}

<div id="App"></div>

<div aria-live="polite"
         aria-atomic="true"
         id="toastBoxPosition">
        <div id="toastBox">
        </div>
</div>

<script src="phone_book.js"></script>

{% endblock %}
